.loader-container {
    position: relative;
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: 100px; /* Ajusta el tamaño según tus necesidades */
  }
  
  .custom-progress {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('/src/sable-luke.png'); /* Ruta a tu imagen */
    background-size: cover;
  }

.custom-navbar{
  color: #0000;
}

.pages{
  background-color:#263237;
}